.flags h2 {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;

}

.trainerWithRedFlags>*, .flags>* {
    display: inline-block;
}

.flags {
    margin-bottom: 24px;
}

.trainerWithRedFlags h2 {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    margin-right: 14px;
}

.trainerWithRedFlags {
    margin: 12px 0;
}

.infoblock{
    margin-bottom: 15px;
}

.infoblock h2 {
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
}

.infoblock h3 {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    color: #494949;
    margin-bottom: 18px;
    height: 30px;
}

.infoblock h4 {
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: #494949;
}

.infoblock .sec3-text {
    width: 10px;
}

.sec3block{
    margin-right: 20px;
}

.sec3text div:nth-child(1){
    width: 25%;
}
.sec3text div:nth-child(2){
    width: 25%;
}
.sec3text div:nth-child(3){
    width: 25%;
}
.sec3text3{
    width: 50% !important;
}

