.sidebar {
    transition: 0.7s;
    height: 100vh;
    box-shadow: 0 1px 12px 5px rgb(32 33 36 / 28%);
    display: inline-block;
    position: relative;
    overflow: hidden;
    padding: 30px 0 0 0px;
    background-color: #F1F1F1;
    border: none;
}

.openSideBarBtn {
    border: 1px solid grey;
    position: absolute;
    height: 30px;
    width: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: -14px;
    top: 50px;
    border-radius: 20px;
    background-color: grey;
    color: white;
    box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);
    transition: 1s;
}

.active {
    background-color: #0A79CA;
    color: white;
}
.sidebar a {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    padding: 10px 10px 10px 10px;
}
.sidebar a:hover {
    background-color: #dbdbdb;
    /* color: white; */
}
.sidebar .active:hover {
    background-color: #0A79CA;
    color: white;
}
.sideBarLinks{
    transition: 0.9s;
}